<!--The Add Clothing Page allows uses to add clothing from their closet or from the Shopstyle API-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Closet</title>
    <!--STYLESHEETS-->
    <link rel="stylesheet" href="styles/index.css">
    
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">

    <!--VENDOR SCRIPTS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!--Personal Script-->
    <script src="/scripts/addClothing.js"></script>

  </head>
  <body>
      <div class="jumbotron"> 
        <div class="container">
          <h1>My Closet</h1>
          <p>Add clothing to your closet to get started</p>
        </div>
      <h1 class="text-center">Add Clothing</h1>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form method="post" class="form-inline" id="newClothingForm" action="/addClothing">
            <div class="form-group">
              <label for="title">Type of Clothing</label>
              <input type="text" class="form-control" name="typeOf" placeholder="Shirt, Pants... ect.">
            </div>
            <div class="form-group">
              <label for="title">Season</label>
              <input type="text" class="form-control" name="season" placeholder="Season">
            </div>
            <div class="form-group">
              <label for="title">Color</label>
              <input type="text" class="form-control" name="color" placeholder="Color">
            </div>
            <div class="form-group">
              <label for="title">Brand</label>
              <input type="text" class="form-control" name="brand" placeholder="Brand">
            </div>
            <input type="submit" class="btn btn-default" value="Add Clothing Item">
          </form>
        </div>
      </div>
          <form>
            <div class = "row">
              <div class = "col-6">
                <label for="search">Search</label>
                <input class = "form-control form" type="text" name="search" id="searchBar">
              </div>
            </div>
            <div>
              <input class="btn btn-primary button" id ="search" type="submit" text="Search">
            </div>
          </form>
    </div>
  </body>
</html>	