<!DOCTYPE html>
<html lang="en">
  <head>

    <title>My Closet</title>

    


<!--STYLESHEETS-->
  <link rel="stylesheet" href="styles/index.css">
  
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">

  <!--VENDOR SCRIPTS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script src="scripts/addClothing.js"></script>
  </head>
  <body>
      <div class="jumbotron">
        <div class="container">
          <h1>My Closet</h1>
          <p>Add clothing to your closet to get started</p>
        </div>
      <h1 class="text-center">Add Clothing</h1>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form class="form-inline" id="newClothing">
            <div class="form-group">
              <label for="title">Type of Clothing</label>
              <input type="text" class="form-control" name="typeOf" placeholder="Shirt, Pants... ect.">
            </div>
            <div class="form-group">
              <label for="title">Season</label>
              <input type="text" class="form-control" name="season" placeholder="Season">
            </div>
            <div class="form-group">
              <label for="title">Color</label>
              <input type="text" class="form-control" name="color" placeholder="Color">
            </div>
            <div class="form-group">
              <label for="title">Brand</label>
              <input type="text" class="form-control" name="brand" placeholder="Brand">
            </div>
            <button type="submit" class="btn btn-default">Add Clothing</button>
          </form>
          <div id='clothingTarget'>
          </div>
        </div>
      </div>
   
  			<!--Search API Form-->
  			<form method="GET">
  				<div class = "row">
  					<div class = "col-6">
  						<label for="search">Search</label>
  						<input class = "form-control" type="text" name="searc" id="searchBar">
  					</div>
  				</div>
  				<div>
  					<input class="btn btn-primary" id ="search" type="submit" text="Search">
  				</div>
  			</form>
  		
  			<div>
  				<%= searchResults %>
  			</div>
  		
  	  	</div>
  	</div>
     </div>
  </body>
</html>	

