<!--Splash Page-->

<!DOCTYPE html>
<html lang="en">
<head>

	<title>My Closet</title>

	<!--STYLESHEETS-->
	<link rel="stylesheet" href="styles/index.css">
	
	<!--Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">

	<!--VENDOR SCRIPTS-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>



  
</head>
<body>
<div class ="vertical-center">
	<div class="container vertical-center d-felx">
		<div class="images">
			<img class="dressOne"src="http://image22.oasap.com/o_img/2016/09/13/207054-10097810/women-s-elegant-v-neck-sleeveless-rhinestone-cocktail-dress.jpg"/>
		</div>
		<div class="header fade-in">
		  <h1>My Closet</h1>
		</div>
		<div class="app fade-in">
		 	<p>An app that solves the issue: What do I wear today?</p>
		</div>
		<div class="fade-in justify-content-center buttons">
			<a role="button" class="btn btn-info" id="logIn" href="/login">Login</a>
		 	<a role="button" class="btn btn-info" id="signUp" href="/signup">SignUp</a>
		</div>
		<div class="appDescription fade-in">
			<p>Creates a clanadar and aids in sleceting and outfit each day based on waht is in your closet</p>
		</div>
	</div>
</div>
</body>
</html>