.fade-in {
	opacity: 0;
	animation: fadeIn ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-delay: 0.5s;
}

.images{

}

.dressOne{
	height: 300px;
	width: 200px;
	margin: auto;
	display: block;
	padding: 10px;
}

.header {
	font-family: 'Didact Gothic', sans-serif;
	color: #838085;
	text-align: center;
	margin: 20px;
}

.app{
	font-family: 'Didact Gothic', sans-serif;
	color: #838085;
	text-align: center;
}

.buttons{
	font-family: 'Didact Gothic', sans-serif;
	color: #838085;
	text-align: center;
	border-radius: 5px;
}

#signUp{

	padding: 5px 20px 5px 20px;
}

#logIn{

	padding: 5px 30px 5px 30px;

}

.appDescription {
	font-family: 'Didact Gothic', sans-serif;
	color: #838085;
	text-align: center;
	margin: 50px 20px 20px 20px;
}

@keyframes fadeIn { 
	from { opacity:0; } 
	to { opacity:1; } 
}



