/*creates a fade nin animation for the words on the home page*/
.fade-in {
	opacity: 0;
	animation: fadeIn ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-delay: 0.5s;
}

/*sets the style for the dress image on the home page*/
.dressOne{
	height: 300px;
	width: 200px;
	margin: auto;
	display: block;
	padding: 10px;
}

/*styles the header*/
.header {
	font-family: 'Didact Gothic', sans-serif;
	color: #838085;
	text-align: center;
	margin: 20px;
}

/*styles the app description*/
.app{
	font-family: 'Didact Gothic', sans-serif;
	color: #838085;
	text-align: center;
}

/*styles the buttons on the home screen*/
.buttons{
	font-family: 'Didact Gothic', sans-serif;
	color: #838085;
	text-align: center;
	border-radius: 5px;
}

/*styles the signup button*/
#signUp{
	padding: 5px 20px 5px 20px;
}

/*styles the log in button*/
#logIn{
	padding: 5px 30px 5px 30px;
}

/*styles the app descript on the bottom*/
.appDescription {
	font-family: 'Didact Gothic', sans-serif;
	color: #838085;
	text-align: center;
	margin: 50px 20px 20px 20px;
}

/*allows the animation to function*/
@keyframes fadeIn { 
	from { opacity:0; } 
	to { opacity:1; } 
}



